/* Общие стили */

body {
font-size: 16px;
line-height: 22px;
color: #000000;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */


.column-2 {
width: 620px;
float: left;
}

.column-1 {
width: 250px;
float: right;
}


.filter-title {
font-size: 18px;
line-height: 30px;
}

.container {
width: 880px;
padding-left: 10px;
padding-right: 10px;
margin: 0 auto;
}

.container:after {
content: "";
display: table;
clear: both;
}

/* Стили к хедеру */

header {
padding-bottom: 50px;
background: #eeeeee;
}

.logo {
    width: 140px;
    float: left;
    padding-top: 20px;
}

.main-menu {
    float: left;
    margin-left: 181px;
    font-size: 0px;
    padding: 0px;   
}

.main-menu li {
display: inline-block;
font-size: 16px;
margin-top: 46px;
margin-right: 45px;
position: relative;
}

.main-menu li:last-child {
margin-right: 0px;
}

.main-menu a {
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
text-decoration: none;   
}

.main-menu a:hover, .basket a:hover {
color: #fb565a;
}

.basket a:hover span {
opacity: 1;
}

.main-menu a:active, .basket a:active {
color: #8f8f8f;
}

.basket {
float: right;
padding-left: 32px;
padding-top: 45px;
position: relative;


}

.basket .basket-item {
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
text-decoration: none; 
    
}

.basket-item span {
opacity: 0.3;
}



/*
.basket:before {
content: "";
width: 15px;
height: 15px;
position: absolute;
background: url("../img/icon-basket.png") no-repeat;
left: 44px;
top: 50px;
*/

}

.main-menu li {
position: relative;
}

.main-menu .now:after {
    
content: '';
position: absolute;
background-color: red;
left: 0;
right: 0;
height: 2px;

}

/* Стили к футеру */
footer {
padding-top: 74px;
padding-bottom: 80px;
}
.social {
width: 240px;
float: left;
font-size: 0px;
margin-right: 79px;
}

.socialicon {
display: inline-block;
vertical-align: top;
width: 62px;
height: 62px;
font-size: 0;
border-radius: 50%;
margin-right: 27px;
position: relative;
background-color: #e1e1e1;
text-align: center;
}

.socialicon:hover {
background-color: #fb565a;
}

.socialicon:active {
background-color: #d6494d;
box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15) inset; 
}

.socialicon span {
line-height: 62px;
font-size: 23px;
color: #ffffff;
}

.socialicon:nth-child(3n) {
margin-right: 0px;
}



.footerpromo {
float: left;
width: 538px;
margin-top: 2px;
    

}

.footerpromo-call {
font-size: 36px;
line-height: 36px;
margin-top:px;
}

.footerpromo-description {
margin: 0px;
padding-top: 10px;
font-size: 16px;
line-height: 22px;

}

/* Стили к промо-блоку */


.promo-title {
font-size: 36px;
line-height: 36px;
padding-top: 20px;
}

.promo-description {
padding-top: 5px;
color: #283136;
margin-bottom: 36px;
}

.promo-block {
padding-bottom: 80px;
margin-bottom: 70px;
background: #eeeeee;
}

.promo-info {
width: 380px;
float: left;
margin-right: 162px;
}

.promo-info .more {
padding: 13px 71px;
background: #fb565a;
text-transform: uppercase;
font-size: 12px;
line-height: 18px;
color: #ffffff;
text-decoration: none;
}

.promo-image {
width:auto;
float: left;
}

/* Стили к "Что делаем?" */
.whatdo {
padding-bottom:87px;
border-bottom: 2px solid #eeeeee;
}

.whatdo:after {
content: "";
display: table;
clear: both;
}

.whatdo-item {
width: 240px;
float: left;
margin-right: 80px;
}

.whatdo-item:last-child {
margin-right: 0px;
}

.whatdo-item-title {
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
padding-top: 6px;
}

.whatdo-item-description {
font-size: 15px;
line-height: 22px;
color: #283136;
padding-left: px;
margin-bottom: 35px;
}

.whatdo-item-order {
    text-decoration: none;
    font-size: 12px;
    line-height: 18x;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13px 40px;
    border-radius: 3px;
}

.whatdo-item-order1 {
background: #fb565a;
}

.whatdo-item-order1:hover {
background: #d6494d;
}

.whatdo-item-order1:active {
background: #b63538;
box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15) inset;

}

.whatdo-item-order2 {
background: #00ca74;
}

.whatdo-item-order2:hover {
background: #01a25e;
}

.whatdo-item-order2:active {
background: #009053;
box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.whatdo-item-order3 {
background: #efc84a;
}

.whatdo-item-order3:hover {
background: #d6ae2c;
}

.whatdo-item-order3:active {
background: #c09b24;
box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}


/* Стили к "Информация о компании" */


.about {
padding-top: 43px;
margin-bottom: 54px;
}

.about-top {
margin-bottom: 15px;
}

.about-top:after {
content: "";
display: table;
clear: both;
}

.about-title {
font-size: 36px;
line-height: 36px;
margin-bottom: 0px;
}

.about-description {
padding-left: 3px;
font-weight: ;
}

.about-top img {
margin-top: 18px;
margin-left: 42px;
margin-bottom: 26px;

}

.about-top .year {
text-transform: uppercase;
margin-left: 90px;
}

.about-bottom {
content: "";
display: table;
clear: both;
}   

.ourservices-title {
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
}

.ourservices-list {
padding: 0px;
list-style: none;
position: relative;
}

.ourservices-list li {
padding-top: 8px;
padding-left: 37px;
margin-bottom: 13px;
position: relative;
}

.ourservices li:before {
content: "";
position: absolute;
width: 25px;
height: 2px;
background: #fb565a;
top: 17px;
left: 0px;
}



.howworks-title {
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
padding-left: 20px;
}

.howworks-list {
padding: 0px;
list-style: none;
}

.howworks-list li {
padding-top: 8px;
padding-left: 56px;
margin-bottom: 14px;
position: relative;
}

.howworks-list li:before {
    content: "";
position: absolute;
width: 25px;
height: 2px;
background: #fb565a;
top: 17px;
left: 22px;
}


.clients {
min-height: 166px;
border-top:2px solid #eeeeee;
border-bottom: 2px solid #eeeeee;
margin-bottom: 80px;
line-height: 166px;
font-size: 0px;
}

.clients-item {
display: inline-block;
vertical-align: middle; 
margin-left: 10px;
margin-right: 112px;

}

.clients img {
opacity: 0.2;
}

.clients img:hover {
opacity: 1;
}

.clients-item:last-child {
margin-right: 0px;
}

/* Карта */

.map {
background: url("../img/map.png");
    background-position: 25px 2px;
padding-top: 90px;
padding-bottom: 90px;
}

.companyinfo {
background: #ffffff;
min-height: 240px;
float: left;
}

.logo-onmap {
width:auto;
float: left;
margin-top: 26px;
margin-left: 430px;
}

.companyinfo h2 {
font-size: 16px;
line-height: 30px;
margin: 0px;
padding-top: 27px;
padding-left: 22px;
}

.companyinfo p {
margin: 0px;
font-size: 16px;
line-height: 20px;
padding-top: 12px;
padding-left: 21px;
padding-right: 28px;
color: #666666;
margin-bottom: 38px;
}

.companyinfo .writetous {
color: red;
font-size: 12px;
line-height: 18px;
margin-left: 24px;
padding: 14px 53px;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;
background: #fb565a;


}
/* #666666 */


/* 2-ая страничка */ 

.catalog-promo-title {
width: 670px;
font-size: 40px;
line-height: 45px;
margin-left: 99px;
padding-top: 17px;
text-transform: uppercase;
text-align: center;
padding-left: 1px;
margin-bottom: 6px;
}

.filter-block {
width: 260px;
float: left;
margin-top: 5px;
margin-left: -3px;
}

.filter-navigation {
margin-bottom: 48px;
}

.filter-title {
font-size: 18px;
line-height: 30px;
    
}

.filter-scroll {
width: 240px;
height: 80px;
background: lightyellow;
margin-top: 10px;
margin-bottom: -3px;
}

.filter-scroll-value span {
color: red;
display: inline-block;
vertical-align: bottom;
margin-right: 10px;
}

.filter-value {
width: 80px;
height: 35px;
background: green;
display: inline-block;
margin-top:20px;
margin-right: 18px;
}




/*
.filter-version label, .features label {
display: block;
font-size: 16px;
line-height: 20px;
padding-left: 37px;
margin-bottom: 20px;
position: relative;
cursor: pointer;
}
*/
/*
.filter-version label:before {
content: "\25cb";
position: absolute;
font-family: "symbols-nerds";
top: 2px;
left: 5px;
color: #c1c1c1;
font-size: 28px;
opacity: 0.
}



.filter-version:checked label:before {
content: "\2611";
}

.features label:before {
content: "\2610";
position: absolute;
font-family: "symbols-nerds";
top: 2px;
left: 5px;
color: #c1c1c1;
font-size: 28px;
 
}

*/

.features {
margin-top: 47px;
margin-bottom: 55px;
}

.filter-button button {
font-size: 12px;
line-height: 18px;
text-transform: uppercase;
background-color: #f1f1f1;
padding: 12px 49px;
padding-right: 42px;
border-radius: 3px;
font-weight: 500;
border: none;
cursor: pointer;
}

.features .filter-title {
display: inline-block;
margin-bottom: 16px;
}

input[type="radio"] {
display: none;
}

input[type="radio"] + label {
display: block;
font-size: 16px;
line-height: 20px;
padding-left: 37px;
margin-bottom: 20px;
position: relative;
cursor: pointer;   
}

input[type="radio"] + label:before {
content: "\25cb";
position: absolute;
font-family: "symbols-nerds";
top: 2px;
left: 5px;
color: #c1c1c1;
font-size: 28px;
}

input[type="radio"]:checked + label:before {
content: "\25cf";
}

input[type="checkbox"] {
display: none;
}

input[type="checkbox"] + label {
display: block;
font-size: 16px;
line-height: 20px;
padding-left: 37px;
margin-bottom: 20px;
position: relative;
cursor: pointer;   
}

input[type="checkbox"] + label:before {
content: "\2610";
position: absolute;
font-family: "symbols-nerds";
top: 2px;
left: 5px;
color: #c1c1c1;
font-size: 28px;
}

input[type="checkbox"]:checked + label:before {
content: "\2611";
}

.filter-title-margin {
display: inline-block;
margin-bottom: 15px;
}

.portfolio-block {
width: 560px;
float: right;
margin-bottom: 80px;
}

.sort {
font-size: 12px;
line-height: 18px;
}

.sort .type{
color: black;
opacity: 0.3;
text-decoration: none;
border-bottom: 1px dashed #00ca74;  
}

.sort .type:hover {
color: black;
opacity: 1;
border-bottom: 1px solid #00ca74;
}

.sort .type:active {
color: black;
border: none;
}


.icon-down-dir, .icon-up-dir {
text-decoration: none;
opacity: 1;
font-size: 18px;
padding: 0px;
}

.icon-down-dir:active, .icon-up-dir:active {
color: #00ca74;
opacity: 1;
}

.portfolio {
font-size: 0px;
}

.sort {
margin-bottom: 17px;
font-size: 0px;
}

.sort-title {
display: inline-block;
margin-left: -2px;
padding-top: 10px;
margin-right: 37px;
font-size: 12px;
}


.type {
display: inline-block;
font-size: 12px;
margin-right: 46px;
}

.type:nth-child(4) {
margin-right: px;
}



.portfolio-item-bordertop {
height: 30px;
background-color: #f1f1f1;
border-radius: 3px;
padding-left: 13px;
}

.portfolio-item:hover .portfolio-item-bordertop {
background: #797979;
}

.white-point {
display: inline-block;
background: #ffffff;
width: 8px;
height: 8px;
border-radius: 50%;
margin-top: 10px;
margin-right: 8px;

}
.portfolio-item {
width: 240px;
height: 240px;
margin-bottom: 111px;
display: inline-block;
position: relative;
}

.portfolio-item:hover .portfolio-item-description {
width: 200px;
height: 200px;
position: absolute;
top: 50px;
left: 20px;

}

/* Всплывающие картинки описание */

.pid1 {
background: url(../img/pid1.png);   
}

.pid2 {
background: url(../img/pid2.png);   
}

.pid3 {
background: url(../img/pid3.png);   
}

.pid4 {
background: url(../img/pid4.png);   
}

.pid5 {
background: url(../img/pid5.png);   
}

.pid6 {
background: url(../img/pid6.png);   
}


.portfolio-item:nth-child(1), .portfolio-item:nth-child(3), .portfolio-item:nth-child(5) {
margin-right: 79px;
}

.page-number {
margin-top: 6px;
margin-left: 4px;
}



.page-point {
background-color: #f1f1f1;
padding: 11px 14px;
border-radius: 3px;
margin-right: 10px;
font-size: 12px;
line-height: 18px;
text-decoration: none;
color: #000000;
}

.page-next {
padding: 10px 30px;
background: #f1f1f1;
margin-left: 1px;
font-size: 12px;
text-decoration: none;
color: #000000;
}

.current {
background: #ffffff;
outline: 2px solid #f1f1f1;
padding: 9px 12px;
}

.portfolio-item-description-title {
font-size: 18px;
}
